body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slogans {
  padding: 5px;
  width: 74%;
  float: left;
  border-right-color: black;
  border-right-width: 3px;
}

.favorites {
  padding: 5px;
  width: 24%;
  float: right;
}

.slogan {
  background-color: #D3D3D3;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slogan:nth-child(even) {
  background-color: #C0C0C0;
}

.slogan.favorite {
  background-color: #d8d7b3;
}

.submitbtn {
  background-color: #ef8f94;
}

p {
  display: block;
  margin-block-start: .1em;
  margin-block-end: .1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}